<ion-app>
  <ion-menu side="start" menuId="mainMenu" contentId="mainContent">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> Navegación</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item routerLink="/perfil-estudiante" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>

        <ion-item routerLink="/dashboard" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Dashboard de Progreso</ion-label>
        </ion-item>

        <ion-item routerLink="/retroalimentacion" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>Comentarios</ion-label>
        </ion-item>

        <ion-item routerLink="/proximas-clases" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Clases Programadas </ion-label>
        </ion-item>

        <ion-item routerLink="/login" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="mainContent">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>