<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true" force-overscroll="true" fullscreen="true" style="height: 100vh;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Juan Pérez</ion-card-title>
      <ion-card-subtitle>Estudiante de Matemáticas</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar style="display: flex; justify-content: center; margin-bottom: 15px;">
        <img src="assets/default-profile.jpg" alt="Foto de perfil">
      </ion-avatar>
      <ion-label>
        <p>Correo: juan.perez&#64;example.com</p>
        <p>Edad: 16 años</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!-- Información Adicional -->
  <ion-list>
    <ion-item-divider color="light">
      <ion-label>Fecha de Inscripción</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        Noviembre 2020
      </ion-label>
    </ion-item>
    
    <ion-item-divider color="light">
      <ion-label>Promedio General al Ingreso</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        4,7
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>Promedio General actual</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        5,6
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>Asignaturas Trabajadas</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ul>
          <li>Matemáticas</li>
          <li>Inglés</li>
          <li>Química</li>
        </ul>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>